@import "~bootstrap/scss/bootstrap";

// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// negative margin up because Bootstrap does not offer this in 5.0
$enable-negative-margins: true;
.mt-n70 {margin-top: -7rem !important;}
.mt-n65 {margin-top: -6.5rem !important;}
.mt-n60 {margin-top: -6rem !important;}
.mt-n55 {margin-top: -5.5rem !important;}
.mt-n50 {margin-top: -5rem !important;}
.mt-n45 {margin-top: -4.5rem !important;}
.mt-n40 {margin-top: -4rem !important;}
.mt-n35 {margin-top: -3.5rem !important;}
.mt-n30 {margin-top: -3.0rem !important;}
.mt-n25 {margin-top: -2.5rem !important;}
.mt-n20 {margin-top: -2rem !important;}
.mt-n15 {margin-top: -1.5rem !important;}
.mt-n10 {margin-top: -1rem !important;}
.mt-n05 {margin-top: -0.5rem !important;}

body {
  font-family: 'Saira', sans-serif;
  // color: white;
  color: black;
  
  // background-image: url('https://i.imgur.com/OQsplhT.gif');
  background-image: url('https://i.imgur.com/UvwBpkI.gif');
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.blurry-text {
  outline-color: black;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.title {
  font-size: 50px;
}


// * * * * * * * * * * * * NAV BAR * * * * * * * * * * * * 


#square {
//   width: 136px;
//   height: 85px;
//   border-bottom-right-radius: 50px;
//   outline-color: black;
//   outline-width: 0.5px;
//   outline-style: solid;
  opacity: 80%;
//   box-shadow: 0 0 8px rgba(0,0,0,0.3);
  letter-spacing: 3px;
}

.navlist {
  letter-spacing: 3px;
  opacity: 80%;
}


// * * * * * * * * * * * * H O M E * * * * * * * * * * * * 

#home {
  margin: 300px 0 450px 0;
  text-align: center;
}

.titlehome {
  font-size: 100px;
}

.titledev {
  font-size: 120px;
  letter-spacing: 10px;
}

.software {
  letter-spacing: 10px;
}

.subtitle {
  letter-spacing: 10px;
}

.outline {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
}

.outline05 {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
}

// * * * * * * * * * * * * F O N T  T E X T U R E * * * * * * * * * * * * 

p {font-family: 'Saira', sans-serif; text-transform:uppercase;}

.bgClip {background-image:url("https://i.imgur.com/Qs7tsvS.jpg");
background-position:0 25%;  
color:transparent;
padding:20px 40px;
-webkit-background-clip:text;
-moz-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
-webkit-animation:BackgroundAnimated 30s linear infinite alternate;
-moz-animation:BackgroundAnimated 30s linear infinite alternate;
-ms-animation:BackgroundAnimated 30s linear infinite alternate;
-o-animation:BackgroundAnimated 30s linear infinite alternate;
animation:BackgroundAnimated 30s linear infinite alternate;
}

@keyframes BackgroundAnimated {
  from {
    background-position:100 0
  }
  to {
    background-position:100% 0
  }
}

@-webkit-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-ms-keyframes BackgroundAnimated {     
      from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-moz-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}


// * * * * * * * * * * * * A B O U T * * * * * * * * * * * * 

#about {
  margin: 300px 0 450px 0;
  text-align: center;
}

// * * * * * * * * * * * * S K I L L S * * * * * * * * * * * * 

#skills {
  margin: 300px 0 450px 0;
  text-align: center;
}

// * * * * * * * * * * * * P R O J E C T S * * * * * * * * * * * * 

#projects {
  margin: 300px 0 450px 0;
  text-align: center;  
}
.exp {
  text-align: justify; 
}

// * * * * * * * * * * * * E X P E R I E N C E * * * * * * * * * * * * 

#experience {
  margin: 300px 0 450px 0;
  text-align: center;
}

// * * * * * * * * * * * * I N T E R E S T S * * * * * * * * * * * * 

#interests {
  margin: 300px 0 450px 0;
  text-align: center;
}

.interests-img {
  border-radius: 18%;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

  float: left, right, top, bottom;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  z-index: 1;
}

.interests-img:hover {
  z-index: 5;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}








// * * * * * * * * * * * * C O N T A C T * * * * * * * * * * * * 


#contact {
  margin: 300px 0 450px 0;
  text-align: center;
}
// * * * * * * * * * * * * NAV BAR * * * * * * * * * * * * 


